<html>
    <head>
        <title>Test</title>
        <meta charset="utf-8">
    </head>
    <body>
        <table class='table'>
            <tr class='row'>
                <td class='col'>Row : 0, Col : 0</td>
                <td class='col'>Row : 0, Col : 1</td>
                <td class='col'>Row : 0, Col : 2</td>
            </tr><tr class='row'>
                <td class='col'>Row : 1, Col : 0</td>
                <td class='col'>Row : 1, Col : 1</td>
                <td class='col'>Row : 1, Col : 2</td>
            </tr><tr class='row'>
                <td class='col'>Row : 2, Col : 0</td>
                <td class='col'>Row : 2, Col : 1</td>
                <td class='col'>Row : 2, Col : 2</td>
            </tr><tr class='row'>
                <td class='col'>Row : 3, Col : 0</td>
                <td class='col'>Row : 3, Col : 1</td>
                <td class='col'>Row : 3, Col : 2</td>
            </tr>
        </table>
    </body>
</html>